
body { font-family:'verdana'; }

h1 {
	font-size:16px;
	color:#333;
}

#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#333;
}


video {
	border:1px solid #2e52a4;
	width:800px;
	height:600px;
	background:#000;
}

/*
.videoContainer {
  position: absolute;
  height: auto;
  width: 100%;
  max-width:800px;
  overflow: hidden; }

.videoContainer video {
  min-width: 100%;
  min-height: 100%; }
*/
button {
	text-indent:-9999px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	background:transparent url('buttons_more.png') no-repeat 0 0;
}

.pause { background-position:-19px 0; }
.stop { background-position:-38px 0; }
.volume-plus { background-position:-57px 0; }
.volume-minus { background-position:-76px 0; }
.mute { background-position:-95px 0; }
.unmute { background-position:-114px 0; }
/* not exactly 19px from previous, due to bad copy/paste of full-screen button */
.replay { background-position:-131px 0; }
.full-screen { background-position:-147px 0; }

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }

#media-play-list {
	float:left;
	clear:both;
	color:#aaa;
	width:100%;
	margin-top:10px;
	border-top:1px solid #2e52a4;
}
#media-play-list  h2 { font-size:12px; }
#play-list {
	padding:0;
	font-size:12px;
	list-style-type:none;
}
#play-list li {
	cursor:pointer;
	padding-left:15px;
	background:transparent url('item.png') no-repeat 0 4px;
}

.logo-container {
/*  width: 100%; */
    width: auto;
}
  .logo-container .logo {
    background-color: #122560;
    background-image: url(./img/Ryff_Logo_white_s025.png);
    background-size: contain;
    height: 3em;
    background-repeat: no-repeat; }
  .logo-container h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    font-style: italic; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

[class*="column"] + [class*="column"]:last-child {
  float: right; }

[class*="column"] + [class*="column"].end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }
  .small-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .small-1 {
    width: 8.3333333333%; }
  .small-2 {
    width: 16.6666666667%; }
  .small-3 {
    width: 25%; }
  .small-4 {
    width: 33.3333333333%; }
  .small-5 {
    width: 41.6666666667%; }
  .small-6 {
    width: 50%; }
  .small-7 {
    width: 58.3333333333%; }
  .small-8 {
    width: 66.6666666667%; }
  .small-9 {
    width: 75%; }
  .small-10 {
    width: 83.3333333333%; }
  .small-11 {
    width: 91.6666666667%; }
  .small-12 {
    width: 100%; }
  .small-offset-0 {
    margin-left: 0% !important; }
  .small-offset-1 {
    margin-left: 8.3333333333% !important; }
  .small-offset-2 {
    margin-left: 16.6666666667% !important; }
  .small-offset-3 {
    margin-left: 25% !important; }
  .small-offset-4 {
    margin-left: 33.3333333333% !important; }
  .small-offset-5 {
    margin-left: 41.6666666667% !important; }
  .small-offset-6 {
    margin-left: 50% !important; }
  .small-offset-7 {
    margin-left: 58.3333333333% !important; }
  .small-offset-8 {
    margin-left: 66.6666666667% !important; }
  .small-offset-9 {
    margin-left: 75% !important; }
  .small-offset-10 {
    margin-left: 83.3333333333% !important; }
  .small-offset-11 {
    margin-left: 91.6666666667% !important; }
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; } }

.social-media span {
  text-transform: uppercase;
  color: #333333;
  margin-right: 1em; }